# Check to see if you're ready to go on Thursday!
1. Run each block of code
2. Check for errors
3. When you think you're error free, flag down a teaching team member to confirm

In [1]:
####This is what an error looks like
print a

NameError: name 'a' is not defined

# Objectives
### Get comfortable with IPython Notebook

* How to start IPython Notebook
* How to read data into pandas
* How to do simple manipulations on pandas dataframes


## Start a notebook:
For each class, we'll be using a set of common data science libraries and tools, like the IPython notebook. You can start an IPython notebook by running

```
jupyter notebook $NAME_OF_FILE
```


## Try it yourself!
Read and run the block of code below by: 
1. Clicking on it and pressing the play button above or
2. Using a short cut- (help --> keyboard shortcuts)

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd

mpl.rcParams['figure.figsize'] = (15, 6)
pd.set_option('display.width', 4000)
pd.set_option('display.max_columns', 100)

In [16]:
import pandas

In [6]:
a = {'name':['Brian','James','Jinny','Ethan','Helmut'],'# of flights':[2,2,2,0,4]}
a

{'# of flights': [2, 2, 2, 0, 4],
 'name': ['Brian', 'James', 'Jinny', 'Ethan', 'Helmut']}

In [21]:
df = pandas.DataFrame(a)
df

   # of flights    name
0             2   Brian
1             2   James
2             2   Jinny
3             0   Ethan
4             4  Helmut

In [10]:
df['# of flights'].describe()

count    5.000000
mean     2.000000
std      1.414214
min      0.000000
25%      2.000000
50%      2.000000
75%      2.000000
max      4.000000
Name: # of flights, dtype: float64

In [22]:
df['# of flights'].hist()

In [18]:
df['# of round trips flights'] = df['# of flights'] / 2

In [19]:
df.head(3)

   # of flights   name  # of round trips flights
0             2  Brian                       1.0
1             2  James                       1.0
2             2  Jinny                       1.0

# First: Read in the data
### Review Simple Commands

Practice downloading and reading into sample data

In [ ]:
# Download and read the data (this may take more than 1 minute)
orig_data = pd.read_csv('../../assets/dataset/311-service-requests.csv', parse_dates=['Created Date'], low_memory=False)

In [ ]:
plt.scatter(orig_data['Longitude'], orig_data['Latitude'], marker='.', color="purple")

## Try this Example: 
Graph the number of noise complaints each hour in New York

In [ ]:
complaints = orig_data[['Created Date', 'Complaint Type']]
noise_complaints = complaints[complaints['Complaint Type'] == 'Noise - Street/Sidewalk']
noise_complaints.set_index('Created Date').sort_index().resample('H', how=len).plot()

# Second: Using IPython
### Review Python Basics

Test your skills by answering the following questions:

#### Question 1.  Divide 10 by 20 and set the result to a variable named "A"

In [ ]:
### Insert your code here and then uncomment | print A | when you are ready to test it. 

#print(A)

In [ ]:
#### If you did not get a float (decimals), alter your equation to get the desired result (0.5)

#### Question 2. Create a function called division that will divide any two numbers and prints the result (with decimals). 
Call your function. Confirm that the results are as expected.

In [ ]:
# add your function here

#### Question 3. Using .split() split my string into separate words in a variable named words

In [ ]:
my_string = "the cow jumped over the moon"
# put your code here it should return ['the', 'cow', 'jumped', 'over', 'the', 'moon']

# print(words)

#### Question 4. How many words are in my_string?

#### Question 5. Use a list comprehension to find the length of each word

result: [3, 3, 6, 4, 3, 4]

#### Question 6. Put the words back together in a variable called sentence using .join()
result:
the cow jumped over the moon

#### Bonus: Add a "||" between each word
result: 
the||cow||jumped||over||the||moon